{% extends "base.html" %}
{% block body%}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Todos os perfis:</strong>
        </div>
        {% if perfis %}
        <ul>
            {% for perfil in perfis %}
            <li>
                <!--
                A tamplate de abaixo é melhor
                <a href="/perfis/{{perfil.id}}">{{perfil.nome}}</a>
                -->
                <!--Coloca o ID no final da URL-->
                <a href="{% url 'exibir' perfil.id %}">{{perfil.nome}}</a>
            </li>
            {% endfor%}
        </ul>
        {% else %}
        <p>Nenhum perfil encontrado</p>
        {% endif %}
    </div>
</div>
{% endblock%}
